<%= render 'banner' %>
<!-- forum index box -->
<div class='flex w-full px-2 border-b bg-zinc-950 border-b-gray-700 md:px-14'>
  <div class='flex flex-row justify-end w-full px-4 py-2 space-x-4 border-l border-r border-gray-700 text-slate-100'>
    forum index
  </div>
</div>
<!-- forums index view -->
<div class='flex flex-col w-full border-b border-gray-700'>
  <div class='px-2 bg-zinc-950 md:px-14'>
    <div class='border-l border-r border-gray-700 bg-zinc-950 '>
      <div class='p-px overflow-hidden md:rounded-full bg-gradientTopRight ring-1 ring-gray-700'>
        <div class='flex flex-col border-gray-700 md:flex-row text-slate-100'>
          <div class='flex flex-col justify-center p-4 md:p-12 basis-2/4'>
            <h1 class='text-2xl xl:text-5xl md:text-3xl'>When the Music Stops</h1>
            <% if last_post.nil? %>
              <h1 class='text-xs xl:text-lg'>a music forum</h1>
            <% else %>
              <h1 class='text-xs xl:text-lg'>most recent post was <%= format_created_date(last_post) %></h1>
            <% end %>
          </div>
          <!-- forums lists -->
          <% forums.each_with_index do |forum, index| %>
            <!-- styling is slightly different if it's the right column -->
            <% if index == 0 %>
              <div class="flex-col items-center justify-center basis-1/4" name='left-column'>
                <div class='p-4 -mt-1 border-gray-700 md:border-r md:border-l md:p-4 md:py-8' >
                  <h1 class='text-2xl'><%= forum.name %></h1>
                </div>
                <% forum.sub_forums.order(forum_order: :asc).each do |sub_forum| %>
                  <div class='p-4 border-t border-gray-700 md:border-l md:border-r '>
                    <h1 class='text-md'>
                      <%= link_to sub_forum.name, forum_sub_forum_path(forum, sub_forum),
                        class: "#{sub_forum.unread_posts?(current_user) ? 'text-sky-400 font-semibold' : ''} hover:text-sky-500"
                      %>
                    </h1>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="flex-col items-center justify-center basis-1/4" name='right-column'>
                <div class='p-4 py-8 -mt-1 border-gray-700' >
                  <h1 class='text-2xl'><%= forum.name %></h1>
                </div>
                <% forum.sub_forums.each_with_index do |sub_forum, index| %>
                  <% if index != forum.sub_forums.length - 1%>
                    <div class='p-4 border-t border-gray-700 '>
                      <h1 class='text-md hover:text-sky-500 '>
                        <%= link_to sub_forum.name, forum_sub_forum_path(forum, sub_forum),
                          class: "#{sub_forum.unread_posts?(current_user) ? 'text-sky-400 font-semibold' : ''} hover:text-sky-500"
                        %>
                      </h1>
                    </div>
                  <% else %>
                    <!-- adding a border on the bottom for the right column, last element -->
                    <div class='p-4 border-t border-gray-700 md:border-b '>
                      <h1 class='text-md hover:text-sky-500 '>
                        <%= link_to sub_forum.name, forum_sub_forum_path(forum, sub_forum),
                          class: "#{sub_forum.unread_posts?(current_user) ? 'text-sky-400 font-semibold' : ''} hover:text-sky-500"
                        %>
                      </h1>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'footer' %>
