<div class='border-l border-r border-gray-700 bg-zinc-950 '>
  <div class='p-px overflow-hidden md:rounded-full bg-gradientTopRight ring-1 ring-gray-700'>
    <div class='flex flex-col border-gray-700 text-slate-100'>
      <div class="flex flex-row w-full">
        <div class='flex-col hidden w-64 px-2 py-6 border-r border-gray-700 md:flex md:px-10 ' >
          <% if message.user.avatar.attached? %>
            <div class='hidden w-20 h-20 md:block '>
              <%= image_tag message.user.avatar %>
            </div>
          <% end %>
          <h5 class='mt-2 text-md'><%= link_to message.user.username, user_show_path(message.user.username), class: 'hover:text-sky-500' %></h5>
          <% if message.user.display_post_count? %>
            <h5 class='text-xs'>Posts: <%= message.user.post_count %></h5>
          <% end %>
          <h5 class='text-xs'>Joined: <%= format_created_date(message.user) %></h5>
          <% if message.user.location.present? && message.user.display_location? %>
            <h5 class='text-xs'>Location: <%= message.user.location %></h5>
          <% end %>
        </div>
        <div class='flex-col w-full border-gray-700'>
          <div class='px-4 py-2 border-gray-700 md:border-b'>
            <div class='flex flex-row items-center justify-between w-full'>
              <h1 class='text-lg'>re: <%= topic.title %></h1>
              <% if current_user.admin? && message.user.id != current_user.id %>
                <%= button_to 'delete', admin_delete_user_path(message.user.id), method: :post, class: 'hover:text-sky-500', data: { confirm: 'are you sure? this will delete user / comments / topics' } %>
              <% end %>
            </div>
            <h5 class='text-xs'>
              by <%= message.user.username %> <%= format_created_date(message) %>
            </h5>
          </div>
          <div class='p-4'>
            <%= embed_links(line_break(message.body)).html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
