<!DOCTYPE html>
<html>
  <head>
    <title>WhenTheMusicStops</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <!-- include React and ReactDOM globally, sucks to load it this way but want to see if it's more stable -->
    <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://ballotboxballot.s3.amazonaws.com/ballot-box-ballot.umd.cjs" onerror="console.error('Failed to load ballot-box script');"></script>
  </head>
  <body class="bg-zinc-950">
    <main class="flex flex-col">
      <%= render 'layouts/menu' %>
      <%= yield %>
    </main>
  </body>
</html>
